cache/
libraries/
logs/
plugins/
versions/
world/
world_nether/
world_the_end/
.console_history
banned-ips.json
banned-players.json
commands.yml
help.yml
ops.json
permissions.yml
usercache.json
version_history.json
whitelist.json
server.jar